#promo-0-title {
  font-size: 32px;
  font-style: italic;
  font-weight: normal;
}

div.text-container {
  a {
    text-decoration: none;
    color: rgb(25, 118, 210)
  }
  a:hover {
    text-decoration: underline;
  }
}
