<!-- FULL HEADER BLOCK -->
<header>
  <!-- BACKGROUND IMAGE -->
  <div class="background-sky hero"></div>
  <!-- INTRO SECTION -->
  <section id="intro">
    <!-- LOGO -->
    <div class="hero-logo"></div>
    <!-- CONTAINER -->
    <div class="homepage-container">
      <h1 class="hero-headline no-title no-toc no-anchor" aria-label="Docker killer">
        The Docker killer.<br>Cross-platform deploys.
      </h1>

      <div class="cta-button-container">
        <p class="cta-link" style="display: flex; flex-direction: column; gap: 12px; text-align: center">
          <a class="button hero-cta no-print" routerLink="doc/more">Learn more</a>
          <a class="button hero-cta no-print"
             href="https://github.com/verman-io/verman-presentations/releases/download/init/packaging-solutions.pdf"
             style="margin-left: 8px; display: flex; align-items: center; justify-content: center;"
             target="_blank">Whitepaper (draft)
            <mat-icon>open_in_new</mat-icon>
          </a>
        </p>
      </div>

    </div>
  </section>
</header>
<!-- MAIN CONTENT -->
<article>
  <div class="home-rows">
    <div layout="column" layout-xs="column" class="home-row homepage-container">
      <!-- Group 1 -->
      <div>
        <section aria-labelledby="promo-0-title" class="text-block">
          <h2 id="promo-0-title" class="no-anchor">
            Version Manager (verMan) per software is <strong style="font-weight: bold">the solution</strong>
          </h2>
        </section>
      </div>
    </div>
    <div layout="row" layout-xs="column" class="home-row homepage-container">
      <!-- Group 1 -->
      <div class="text-container">
        <section aria-labelledby="promo-1-title" class="text-block">
          <h2 id="promo-1-title" class="text-headline no-anchor">
            Version Manager (<span style="text-transform: none;">verMan</span>)
          </h2>
          <!--<img alt="Bias" src="../../assets/images/logos/vendors/ml-logos.svg" width="276">-->
          <p class="text-body">Popular version managers&mdash;from other vendors&mdash;include:</p>
          <ul dir="auto">
            <li><a href="https://rvm.io" rel="nofollow"><code>rvm</code></a> for <a href="https://www.ruby-lang.org/en"
                                                                                    rel="nofollow">Ruby</a>;
            </li>
            <li><a href="https://github.com/nvm-sh/nvm"><code>nvm</code></a> for <a href="https://nodejs.org/en"
                                                                                    rel="nofollow">Node.js</a>;
            </li>
            <li><a href="https://rustup.rs" rel="nofollow"><code>rustup</code></a> for <a
              href="https://www.rust-lang.org" rel="nofollow">Rust</a>;
            </li>
            <li><a href="https://github.com/pyenv/pyenv"><code>pyenv</code></a> for <a href="https://www.python.org"
                                                                                       rel="nofollow">Python</a>.
            </li>
          </ul>
          <p class="text-body">Taking this to its logical extreme, let's create version managers for:</p>
          <ul dir="auto">
            <li>Databases</li>
            <ul>
              <li><a href="https://postgresql.org">PostgreSQL</a></li>
              <ul>
                <li>Extensions</li>
              </ul>
              <li><a href="https://mariadb.org">MariaDB</a></li>
              <li>
                <del>Redis</del>
                <a href="https://valkey.io/" target="_blank">Valkey</a></li>
            </ul>
            <li>Application servers</li>
            <li>Reverse proxies and HTTP servers</li>
            <li>Cluster management solutions</li>
            <ul>
              <li><a href="https://kubernetes.io" target="_blank">Kubernetes</a></li>
              <li><a href="https://docs.docker.com/compose" target="_blank">Docker Compose</a></li>
              <li><a href="https://mesos.apache.org" target="_blank">Apache Mesos</a></li>
            </ul>
            <li>&hellip;</li>
          </ul>
        </section>
      </div>
      <!-- Group 2 -->
      <div class="text-container">
        <section aria-labelledby="promo-2-title" class="text-block promo-2-desc">
          <h2 id="promo-2-title" class="text-headline no-anchor">Open licensed</h2>
          <img alt="Hero image" src="../../assets/images/docs/copyright-license.svg"
               style="max-height: 315px; width: auto;    ">
          <p class="text-body">Don't trust us; trust the code. We license without usage restrictions. (Apache-2.0 OR
            MIT)
          </p>
          <!--<p class="text-body"><a routerLink="doc/more"></a></p>-->
        </section>
      </div>
      <!-- Group 3 -->
      <div class="text-container">
        <section aria-labelledby="promo-3-title" class="text-block l-pad-top-2">
          <h2 id="promo-3-title" class="text-headline no-anchor">Cross-platform</h2>
          <!--<img alt="Hero image" src="../../assets/images/docs/research_logos-stacked.svg">-->
          <ul>
            <li>Windows (not just WSL | WSL2)</li>
            <li>macOS</li>
            <li>Linux</li>
            <li>iOS</li>
            <li>Android</li>
            <li>SunOS (<a href="https://en.wikipedia.org/wiki/Oracle_Solaris" target="_blank">Solaris</a> &rarr; <a href="https://en.wikipedia.org/wiki/OpenSolaris" target="_blank">OpenSolaris</a> &rarr; <a href="https://en.wikipedia.org/wiki/Illumos" target="_blank">illumos</a>)</li>
            <li>Mainframes</li>
            <li>Supercomputers</li>
          </ul>
          <p class="text-body">Actually cross-platform. Unlike Docker on Windows and macOS, this is <strong>actually
            native</strong>.</p>
          <!--<p class="text-body"><a routerLink="doc/more"></a></p>-->
        </section>
      </div>
    </div>

    <p style="text-align: center"><a class="button hero-cta no-print" routerLink="doc/more">Learn more</a></p>
  </div>
</article>
