.sidenav-content {
  min-height: 100vh;
  padding: 20px 3rem 2rem;
  max-width: 50em;
  /* top | right | bottom | left */
  margin: 0 0 0 0;

  @media screen and (max-width: 600px) {
    min-height: 450px;
    padding: 80px 2rem 1rem;
  }

  @media screen and (max-width: 480px) {
    padding: 80px 1rem 1rem;
  }
}

mat-form-field {
  width: 100%;
}
