<div class="doc-navbar"></div>

<header class="marketing-banner">
  <h1 class="banner-headline no-toc no-anchor">Elaboration</h1>
</header>

<article class="center-layout">
  <div class="feature-section">
    <div class="feature-header">
      <div class="text-headline">Why</div>
      <img src="../../assets/images/docs/loved-by-millions.svg" alt="Feature icon">
    </div>
    <div class="feature-row">
      <div class="feature">
        <div class="feature-title">Docker is overkill</div>
        <p class="text-body">Build time, image sizes, architectural complexity.</p>
      </div>

      <div class="feature">
        <div class="feature-title">Native performance with no overhead</div>
        <p class="text-body">Bootstrapping done natively by way of version managers.</p>
      </div>

      <div class="feature">
        <div class="feature-title">Remove complexity</div>
        <p class="text-body">&quot;Getting started&quot; guides become one-liners.</p>
      </div>
    </div>
    <hr>
  </div>

  <div class="feature-section">
    <div class="feature-header">
      <div class="text-headline">Our definition of version manager</div>
      <img src="../../assets/images/docs/bias.svg" alt="Feature icon">
    </div>
    <div class="feature-row">
      <div class="feature">
        <div class="feature-title">Specify version of software wanted</div>
        <p class="text-body">Semantic version support, "latest", "stable", "beta".</p>
      </div>

      <div class="feature">
        <div class="feature-title">Support multiple concurrently installed</div>
        <p class="text-body">Useful for both testing and supporting applications which haven't been updated.</p>
      </div>

      <div class="feature">
        <div class="feature-title">Depend on multiple version managers</div>
        <p class="text-body">E.g., for combining [verMan] database, application-server, reverse-proxy, and your
          application into one [new] package manager.</p>
      </div>

      <div class="feature">
        <div class="feature-title">Configuration</div>
        <p class="text-body">Global, project-global, and local configurations.</p>
        <p class="text-body">Stores everything from directory paths to database authentication details.</p>
      </div>
    </div>
    <hr>
  </div>

  <div class="feature-section">
    <div class="feature-header">
      <div class="text-headline">Use-cases</div>
    </div>
    <div class="feature">
      <div class="feature-title">Image creation</div>
      <p class="text-body">Rather than custom scripts for each target, or a non-standard format like the [now]
        closed-source <a href="https://packer.io" target="_blank">HashiCorp Packer</a>; instead you can use your
        vendor-specific format and just add ~3 lines (download, extract, execute). Now instead of a
        <code>Dockerfile</code> limited to Docker; you can now trivially target:</p>
      <ul class="multicol">
        <li><a href="https://docker.com" target="_blank">Docker</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Unikernel" target="_blank">Unikernel</a></li>
        <li><a href="https://opencontainers.org" target="_blank">OCI</a></li>
        <li>Cloud image</li>
        <li><a href="https://en.wikipedia.org/wiki/VMDK" target="_blank">VMDK</a></li>
        <li><a href="https://en.wikipedia.org/wiki/VHD_(file_format)" target="_blank">VHD</a></li>
        <li><a href="https://en.wikipedia.org/wiki/VHD_(file_format)" target="_blank">VHD</a></li>
        <li>Others (see <a href="https://en.wikipedia.org/wiki/Comparison_of_platform_virtualization_software"
                           target="_blank">Comparison of platform virtualization software</a>)
        </li>
      </ul>
    </div>
    <div class="feature">
      <div class="feature-title">Package creation</div>
      <p class="text-body">Centralise packaging, e.g., to make generic the old <a
        href="https://en.wikipedia.org/wiki/LAMP_(software_bundle)" target="_blank">LAMP (software bundle)</a>;
        handling:</p>
      <ul class="multicol">
        <li>Windows (.exe)</li>
        <li>Windows (<a href="https://en.wikipedia.org/wiki/Windows_Installer" target="_blank">.msi</a>)</li>
        <li>macOS (<a href="https://en.wikipedia.org/wiki/List_of_built-in_macOS_apps#Installer"
                      target="_blank">.pkg</a>)
        </li>
        <li>macOS (<a href="https://en.wikipedia.org/wiki/Apple_Disk_Image" target="_blank">.dmg</a>)</li>
        <li>[Linux] Red Hat compat. (<a href="https://en.wikipedia.org/wiki/RPM_Package_Manager"
                                        target="_blank">.rpm</a>)
        </li>
        <li>[Linux] Debian compat. (<a href="https://en.wikipedia.org/wiki/Deb_(file_format)" target="_blank">.deb</a>)
        </li>
        <li>Regular archive for all supported OSs</li>
        <li>&hellip;</li>
      </ul>
      <p class="text-body">Including the various triggers like:</p>
      <ul class="multicol">
        <li>Install</li>
        <li>Uninstall</li>
        <li><a href="https://en.wikipedia.org/wiki/Daemon_(computing)" target="_blank">Daemon</a> configuration</li>
        <li>Automatic facilitation of side-by-side installs</li>
      </ul>
    </div>
    <div class="feature">
      <div class="feature-title">Configuration Management</div>
      <p class="text-body">Similar to the aforementioned Image Creation; this replaces a large number of lines-of-code
        needed in existing systems.</p>
      <ul class="multicol">
        <li><a href="https://en.wikipedia.org/wiki/Puppet_(software)" target="_blank">Puppet</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Progress_Chef" target="_blank">Chef</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Ansible_(software)" target="_blank">Ansible</a></li>
        <li><a href="https://en.wikipedia.org/wiki/CFEngine" target="_blank">CFEngine</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Salt_(software)" target="_blank">Salt</a></li>
        <li>&hellip;</li>
      </ul>
    </div>
    <div class="feature">
      <div class="feature-title">Bootstrapping</div>
      <p class="text-body">Docker, Kubernetes, Mesos and others all suffer from a bootstrapping problem. How does one
        deploy Kubernetes? - With Kubernetes? - How about testing a large number of different versions of Kubernetes to
        test when a regression first occurred; and after applying a patch; testing that it is resolved in all supported
        versions?</p>
    </div>
    <div class="feature-row">
      <div class="feature">
        <div class="feature-title">Testing</div>
        <p class="text-body">
          Comparing multiple versions and configuration permutations concurrently is complex. <em>VerMan</em> simplifies
          this testing.
        </p>
      </div>
      <div class="feature">
        <div class="feature-title">Benchmarking</div>
        <p class="text-body">Much like testing, benchmarking is also simplified through <em>VerMan</em>. Docker and
          friends add overhead compounded by various areas of caching and nondeterminism. For example, <a
            href="https://github.com/sharkdp/hyperfine" target="_blank"><code>hyperfine</code></a> and <a
            href="https://github.com/fcsonline/drill" target="_blank"><code>drill</code></a> can now be used
          indiscriminately.</p>
      </div>
      <div class="feature">
        <div class="feature-title">CI</div>
        <p class="text-body">
          GitHub Actions, Travis CI, Circle CI, and all the other CI systems (including in-house) each have their own
          Domain Specific Language for specifying what to download, cache, and what versions to test across.
          <em>VerMan</em> greatly simplifies this process, and if you're careful, can provide better caching and
          resource usage (particularly when you have small quotas/budgets for your CI). It can also be used to build and
          maintain new/existing CI systems.
        </p>
      </div>
    </div>
    <div class="feature">
      <div class="feature-title">Quick start guides</div>
      <p class="text-body">
        It is common to see quick-start guides like:
      </p>
      <ol>
        <li>Install docker</li>
        <li>Run <code>docker compose up</code></li>
      </ol>
      <p class="text-body">
        Which hides all the architectural information about: what components make-up the stack; how they talk to each
        other; and what is substitutable. A carefully written quick-start guide with <em>verMan</em> might look
        something like:
      </p>
      <ol>
        <li>Download version manager for <code>verman</code></li>
        <li><code>verman run latest -c .config/verman.toml</code></li>
        <li>See configuration file for stack details and various other points (like data locations and authentication
          details)
        </li>
      </ol>
      <p class="text-body">
        Which adds an easy to understand configuration file. For an example <code>verman.toml</code>; see <a
        routerLink="/doc/more" fragment="verman-toml">further below</a>.
      </p>
    </div>
    <div class="feature-row">
      <div class="feature">
        <div class="feature-title">Performance critical environments</div>
        <p class="text-body"></p>
      </div>
      <div class="feature">
        <div class="feature-title">Replicating bugs</div>
        <p class="text-body"></p>
      </div>
    </div>
    <div class="feature-row">
      <div class="feature">
        <div class="feature-title">Multitenancy with fine grained resource constraints</div>
        <p class="text-body"></p>
      </div>
      <div class="feature">
        <div class="feature-title">Building aaS environments</div>
        <p class="text-body"></p>
      </div>
      <div class="feature">
        <div class="feature-title">Experimenting with equivalent stack components</div>
        <p class="text-body"></p>
      </div>
    </div>
    <hr>
  </div>

  <div class="feature-section">
    <div class="feature-header" id="verman-toml">
      <div class="text-headline" style="text-transform: none"><code>verman.toml</code> example (syntax version
        0.0.1-gamma)
      </div>
    </div>
    <div>
      <p class="text-body">
        What follows is an example that deploys the following:
      </p>
      <ul>
        <li>Ruby REST API (behind a Ruby application server)</li>
        <li>Python REST API (behind a Python application server)</li>
        <li>Database (SQL compatible)</li>
        <li>Reverse proxy (that routes to the Ruby and Python APIs and serves the static files)</li>
      </ul>
      <p class="text-body">
        Place a single <code>verman.toml</code> file in your repo root or <code>./config</code> subdirectory. The
        smallest example that does the above would be:</p>
      <pre style="background: rgba(219, 219, 219, 0.3); padding: 0 20px;"><code>
[[stack.database]]
kind = "sql"

[[stack_routing]]
# Technically optional; could be inferred from `CNAME` file
name = "my_name.verman.io"

</code></pre>
      <p class="text-body">&hellip; with more complex TOML&mdash;that still does the same&mdash;succeeding:</p>
    </div>
    <div class="feature-row">
      <div class="feature-title">Prelude</div>

      <pre style="background: rgba(219, 219, 219, 0.3); padding: 0 20px;"><code>
name = "verman-schema-rs"
version = "0.0.1"
license = "(Apache-2.0 OR MIT)"
homepage = "https://verman.io"
repo = "https://github.com/verman-io"
authors = [ "Samuel Marks <&#64;SamuelMarks>" ]

# ^ these are inferred from package.json,
# pyproject.toml, setup.py &etc. if not provided

</code></pre>
    </div>
    <div class="feature-row">
      <div class="feature-title">States / deploy semantics</div>
      <pre style="background: rgba(219, 219, 219, 0.3); padding: 0 20px;"><code>
enum State &#123;
   /// [app/component] install or reinstall
   /// [service] start or restart
   "always",

   /// [app/component] install if not installed
   /// [service] reload if stopped otherwise start
   "graceful",

   /// [service] ping: if not started/installed:
   /// - ping next service in array until end
   /// - error if no services are pingable
   /// - otherwise set env var | config for pingable service
   "untouched",

   /// [service] stop service (if service is running)
   "stop",

   /// [service] uninstall service (if installed)
   /// [app/component] uninstall (if installed)
   "remove",

   /// [service] list which services would be started
   /// [app/component] list what would be installed* (*without making any network requests)
   "dry_run"
&#125;

</code></pre>
    </div>
    <div class="feature-row">
      <div class="feature-title">States / deploy configuration</div>
      <pre style="background: rgba(219, 219, 219, 0.3); padding: 0 20px;"><code>
[stack_state.database]
kind = "sql"
install = "always"
start = "always"

[stack_state.application_server]
install = "always"
start = "always"

[stack_state.routing]
install = "always"
start = "always"

</code></pre>
    </div>

    <div class="feature-row">
      <div class="feature-title">Stack configuration</div>
      <pre style="background: rgba(219, 219, 219, 0.3); padding: 0 20px;"><code>
[[stack.database]]
kind = "sql"

[[stack.application_server]]
kind = "python"
# other than `kind`; rest optional:
versions = [ "~2.7", "~3.6", "~3.13" ]
server_priority = [ "Waitress", "mod_wsgi", "uvicorn" ]

[[stack.application_server]]
kind = "ruby"

</code></pre>
    </div>

    <div class="feature-row">
      <div class="feature-title">Stack (routing)</div>
      <pre style="background: rgba(219, 219, 219, 0.3); padding: 0 20px;"><code>
[[stack_routing]]
# `name` is optional if no `CNAME` file
name = "my_name.verman.io"
# rest optional:
protocol = "https"
certificate_vendor = "LetsEncrypt"
provider = "nginx"  # AWS Route 53 | Apache | ...
provider_version = "*"

</code></pre>
    </div>
    <div class="feature-row">
      <div class="feature-title">Component configuration</div>
      <pre style="background: rgba(219, 219, 219, 0.3); padding: 0 20px;"><code>
[[component]]
src = "./python_api_folder/"
uri = "http://localhost:$&#123;env.PYTHON_API_PORT&#125;"
# inferred from setup.py | setup.cfg | pyproject.toml
# ...or you can explicitly specify these two:
kind = "python"
version = ">3.8"

[[component]]
src = "./ruby_api_folder/"
uri = '$&#123;if(WIN32) &#123; "\\.\pipe\PipeName" &#125; else &#123; "unix:///var/run/my-socket.sock" &#125;&#125;'
# inferred from Gemfile | version.rb | VERSION | .gemspec
# ...or you can explicitly specify these two:
kind = "ruby"
version = ">3.1.2, <3.2"

[[component]]
kind = "routing"
uri = "my_app.verman.io"

# Escape-hatch to the basic `mounts` syntax, you can punch out of verman like so:
[component.vendor.nginx]
windows = "win_nginx.site_avail.conf"
_ = "nginx.site_avail.conf"  # else/default block
version = ">1.25"  # components can also require a specific version
# OS list is from https://doc.rust-lang.org/std/env/consts/constant.OS.html
# if routing `vendor` is not `nginx` then the below takes priority:

[component.mounts."/api/py"]
kind = "python"
location = '$&#123;stack.components[.kind=="python"].uri&#125;'

[component.mounts."/api/ruby"]
kind = "ruby"
location = '$&#123;stack.components[.kind=="ruby"].uri&#125;'

[component.mounts."/"]
kind = "static"
location = "$&#123;env.WWWROOT&#125;"
      </code></pre>
    </div>
    <!-- TODO: Figure out package-manager prioritisation -->
    <hr>
  </div>

  <div class="feature-section">
    <div class="feature-header">
      <div class="text-headline">Future areas of exploration</div>
      <img src="../../assets/images/docs/loved-by-millions.svg" alt="License icon">
    </div>
    <div class="feature-row">
      <div class="feature">
        <div class="feature-title">Clustering</div>
        <p class="text-body">Handle complexities related to supporting different clustering schemes. Including:</p>
        <ul>
          <li>Master/slave</li>
          <li>Multi-master</li>
          <li>Multi-master with read-only slaves</li>
          <li>Consensus</li>
        </ul>
      </div>
      <div class="feature">
        <div class="feature-title">Multicloud</div>
        <p class="text-body">Deploy applications or even package verMan up as a multi-tenant PaaS platform for deploying
          across
          multiple cloud vendors (concurrently, strategically, or based on configuration-priority)</p>
      </div>
    </div>

    <div class="feature-row">
      <div class="feature">
        <div class="feature-title">Resource constraints</div>
        <p class="text-body">
          Each OS has their own kernel-level features for limiting various resources. Sometimes this includes: CPU, GPU,
          disk-usage, RAM usage. If you're lucky, it also has network isolation features. A brief survey of
          technologies:
        </p>
        <ul>
          <li>[Linux] cgroups and namespaces;</li>
          <li>[Windows] Sanboxie;</li>
          <li>[SunOS] Zones;</li>
          <li>[FreeBSD & derivatives] jails.</li>
        </ul>
      </div>
      <div class="feature">
        <div class="feature-title">Dashboards (CLI, web, GUI)</div>
        <p class="text-body">Show what is deployed on target machine (e.g., local developer machine). Including
          interesting things like:</p>
        <ul>
          <li>Tabulation of applications; including:</li>
          <ul>
            <li>Installed</li>
            <li>Started</li>
            <li>Logs</li>
          </ul>
          <li>Resource usage</li>
          <ul>
            <li>Disk usage</li>
            <li>GPU, CPU, RAM</li>
          </ul>
        </ul>
      </div>
    </div>

    <div class="feature-row">
      <div class="feature">
        <div class="feature-title">Logging</div>
        <p class="text-body">Stream log files to log server components. Like all other parts, each part of this stack
          should be configurable also (storage, queue, query-engine); all with globally relevant settings
          (object-storage location, retention policy, &etc.).</p>
      </div>
      <div class="feature">
        <div class="feature-title">Alerting</div>
        <p class="text-body">For security, performance and budgetary purposes it's important to have proper alerting
          available. This should link into the Logging stack as well as the cloud-vendor stack (esp. wrt. budget).</p>
      </div>
    </div>
    <hr>
  </div>

  <div class="feature-section">
    <div class="feature-header">
      <div class="text-headline">Open licensed and (somewhat) available today</div>
      <img src="../../assets/images/docs/copyright-license.svg" alt="License icon">
    </div>
    <div class="feature-row">

      <div class="feature">
        <div class="feature-title">Any cross-platform programming language</div>
        <p class="text-body">Examples in multiple languages. Recommended: Rust.</p>
        <ul>
          <li>Rust
            <ul>
              <li><a href="https://github.com/offscale/version-manager-rs" target="_blank">version-manager-rs</a>;</li>
              <li>
                <a href="https://github.com/offscale/mariadb-version-manager-rs" target="_blank">
                  mariadb-version-manager-rs</a>;
              </li>
              <li><a href="https://github.com/verman-io/verman-schema-rs" target="_blank">verman-schema-rs</a>.</li>
            </ul>
          </li>
          <li><a href="https://github.com/offscale/postgres-version-manager-go" target="_blank">Go</a></li>
          <li><a href="https://github.com/offscale/libacquire" target="_blank">C</a></li>
        </ul>
      </div>
      <div class="feature">
        <div class="feature-title">Permissive license</div>
        <p class="text-body">No restriction on commercial use; integration does not require relicensing of parent (no
          viral GPL); and patent-rights are guaranteed. Specifically: (Apache-2.0 OR MIT) license.
        </p>
      </div>

    </div>
    <hr>
  </div>

  <div class="cta-bar announcement-bar" style="display: flex; flex-direction: column; gap: 12px; text-align: center">
    <a class="button" (click)="openSlides()">Slides</a>
    <a class="button"
       href="https://github.com/verman-io/verman-presentations/releases/download/init/packaging-solutions.pdf"
       style="margin-left: 8px; display: flex; align-items: center; justify-content: center;"
       target="_blank">Whitepaper (draft)
      <mat-icon>open_in_new</mat-icon>
    </a>
  </div>
</article>
