<div class="doc-navbar"></div>

<header class="marketing-banner">
  <h1 class="banner-headline no-toc no-anchor">Elaboration</h1>
</header>

<article class="center-layout">
  <div class="feature-section">
    <div class="feature-header">
      <div class="text-headline">Why</div>
      <img src="../../assets/images/docs/loved-by-millions.svg" alt="Feature icon">
    </div>
    <div class="feature-row">
      <div class="feature">
        <div class="feature-title">Docker is overkill</div>
        <p class="text-body">Build time, image sizes, architectural complexity.</p>
      </div>

      <div class="feature">
        <div class="feature-title">Native performance with no overhead</div>
        <p class="text-body">Bootstrapping done natively by way of version managers.</p>
      </div>

      <div class="feature">
        <div class="feature-title">Remove complexity</div>
        <p class="text-body">&quot;Getting started&quot; guides become one-liners.</p>
      </div>
    </div>
    <hr>
  </div>

  <div class="feature-section">
    <div class="feature-header">
      <div class="text-headline">Our definition of version manager</div>
      <img src="../../assets/images/docs/bias.svg" alt="Feature icon">
    </div>
    <div class="feature-row">
      <div class="feature">
        <div class="feature-title">Specify version of software wanted</div>
        <p class="text-body">Semantic version support, "latest", "stable", "beta".</p>
      </div>

      <div class="feature">
        <div class="feature-title">Support multiple concurrently installed</div>
        <p class="text-body">Useful for both testing and supporting applications which haven't been updated.</p>
      </div>

      <div class="feature">
        <div class="feature-title">Depend on multiple version managers</div>
        <p class="text-body">E.g., for combining [verMan] database, application-server, reverse-proxy, and your application into one [new] package manager.</p>
      </div>

      <div class="feature">
        <div class="feature-title">Configuration</div>
        <p class="text-body">Global, project-global, and local configurations.</p>
        <p class="text-body">Stores everything from directory paths to database authentication details.</p>
      </div>
    </div>
    <hr>
  </div>

  <div class="feature-section">
    <div class="feature-header">
      <div class="text-headline">Open licensed and (somewhat) available today</div>
      <img src="../../assets/images/docs/copyright-license.svg" alt="License icon">
    </div>
    <div class="feature-row">

      <div class="feature">
        <div class="feature-title">Any cross-platform programming language</div>
        <p class="text-body">Examples in multiple languages. Recommended: Rust.</p>
        <ul>
          <li><a href="https://github.com/offscale/version-manager-rs" target="_blank">Rust</a></li>
          <li><a href="https://github.com/offscale/postgres-version-manager-go" target="_blank">Go</a></li>
          <li><a href="https://github.com/offscale/libacquire" target="_blank">C</a></li>
        </ul>
      </div>
      <div class="feature">
        <div class="feature-title">Permissive license</div>
        <p class="text-body">No restriction on commercial use; integration does not require relicensing of parent (no
          viral GPL); and patent-rights are guaranteed. Specifically: (Apache-2.0 OR MIT) license.
        </p>
      </div>

    </div>
    <hr>
  </div>

  <div class="cta-bar announcement-bar">
    <a class="button" (click)="openSlides()">Slides</a>
  </div>
</article>
