<nav aria-label="primary">
  <ul>
    <li routerLinkActive="selected" (click)="goAndCloseParent('/doc/more')">
      <a class="nav-link" title="more">
        <span class="nav-link-inner">learn more</span>
      </a>
    </li>
    <li routerLinkActive="selected" (click)="goAndCloseParent('/doc/verman-spec')">
      <a class="nav-link" title="more">
        <span class="nav-link-inner">Specification</span>
      </a>
    </li>
    <li>
      <a class="nav-link" title="slides" (click)="openSlides()">
        <span class="nav-link-inner">slides</span>
      </a>
    </li>
    <li>
      <a class="nav-link" title="Whitepaper (draft)" href="https://github.com/verman-io/verman-presentations/releases/download/init/packaging-solutions.pdf" target="_blank">
        <span class="nav-link-inner">Whitepaper (draft)</span>
      </a>
    </li>
  </ul>
</nav>
